{% extends 'base.html.twig' %}

{% block body %}
    <tbody>
    {% for local in locales %}
        <tr>
            <td>{{ local.nombre }} </td>
            <td>{{ local.propietario.username }} </td>
        </tr>
    {% endfor %}
    </tbody>
    </table>
{% endblock %}

{% block stylesheets %}

{% endblock %}
