{% extends 'base_admin.html.twig' %}
{% block body %}
    <h3>Hola, Administrador</h3>

    {% if avisos %}
        Tienes avisos revisalos aquí
        <a href="{{ path('comentarios_admin') }}" class="nav-link nav-toggle">
            Ver
        </a>
    {% else %}
        Hoy, no tiene reclamaciones de los clientes !Enhorabuena¡

    {% endif %}
{% endblock %}