{% extends 'base_admin.html.twig' %}

{% block body %}
    <h3 class="well-lg">Tipos de Articulos</h3>
    <table class="table table-hover">

    {% for tipo in tipos %}
        <tr>
            <td>{{ tipo.plato }} </td>
            <td><a href="{{ path('modificartipo',{'tipo': tipo.id}) }}" class="btn btn-success">Modificar</a></td>
        </tr>
    {% endfor %}
    </table>
    <h4 class="well">Añadir nuevo tipo</h4>
{{ form(form) }}
{% endblock %}


