/*#map{
    margin-top: -20px;
    height: 100%;
    width: 100%;
}*/

#map2{
    height: 200px;
    width: 100%;

}

#mapa_usuario{
    height: 200px;
    width: 100%;
}

footer
{
    width: 100%;
    bottom: 0;
    position: absolute;
    height: 50px;
    background-color: black;
    color: white;
}